.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #141d2f;
}
.home_light {
  background-color: #ffffff !important;
}

.header {
  width: 730px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  /* identical to box height */
  color: #ffffff;
}
.logo_light {
  color: #222731 !important;
}
.dark_light_mode {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dark_light_mode p {
  margin-right: 20px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 2.5px;
  color: #ffffff;
}
.dark_light_mode_light p {
  color: #697c9a;
}

form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 100000000;
  transition: all 0.3s;
}

.search-input-cont {
  width: 730px;
  height: 69px;
  border-radius: 50px;
  display: flex;
  background-color: #1e2a47;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-input-cont_light {
  background: #fefefe !important;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567) !important;
  border-radius: 15px !important;
}
.search_icon {
  width: 21.22px;
  height: 21.16px;
}

.search-input-cont input {
  width: 35%;
  height: 100%;
  color: rgb(117 93 191);
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  color: #ffffff;
  border: 0;
  outline: 0;
  background-color: transparent;
}
.search-input-cont_light input {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  color: #222731 !important;
}
.search-input-cont_light input::placeholder {
  font-family: "Space Mono" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 25px !important;
  /* identical to box height, or 139% */

  color: #4b6a9b !important;
}

::placeholder {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  color: #ffffff;
}
.search_btn {
  min-width: 106px;
  height: 50px;
  background-color: #0079ff;
  border-radius: 10px;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* //// */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
  cursor: pointer;
}
.loading {
  position: absolute;
  top: 30%;
  color: rgb(117 93 191);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgb(117 93 191);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.loading span {
  width: 45px;
  height: 7px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  animation: move 1s forwards infinite;
}
.error {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  width: 100px;
  color: #f74646;
}
.user-container {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.5s;
}

@media screen and (max-width: 779px) {
  .header {
    margin: 10px 0;
  }
  .home {
    padding: 0 20px;
  }
  .header {
    width: 100%;
  }
  .search-input-cont {
    width: 100%;
  }
}

@media screen and (max-width: 495px) {
  .search-input-cont {
    padding: 0 10px !important;
  }
  .search-input-cont input {
    width: 100%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 501px) {
  .error {
    font-size: 10px;
    padding: 0 5px;
  }
}
